.formWrap {
    margin-top: 30px;
    .socialSingin {
        margin-top: 30px;
    }

    .links {
        display: block;
        width: 100%;
        margin: 15px auto 0;
        a{
            color: black;
        }
    }
}
   