.btn {
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 1;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    background: black;
    padding: 10px 0;
    margin: 10px 0;
    border: 0;
    outline: none;
    cursor: pointer;
}