.footer{
    height: 60px;
    box-shadow: 12px 0px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    
    .wrap{
        
        height:100%;
        margin: 0px 220px 10px   ;
        position : relative;
        .p {
            position:absolute;
            //width:10px;
            //height:10px;
            padding-top: 30;
            
            -webkit-transform: translateY(-150%);
            -moz-transform: translateY(-150%);
            transform: translateY(-150%);
        }
    }
}